.editor-container {
  width: 100%;
  height: 100%;
  background-color: cornsilk;
  overflow: hidden;
  touch-action: none;
  position: relative;
  &.in-drag {
    cursor: grab;
    &.on-drag {
      cursor: grabbing;
    }
    .item-view {
      pointer-events: none;
    }
  }
  .no-zoom-area,
  .zoom-area {
    position: absolute;
    transform-origin: 0 0;
  }
  .item-view,
  .item-border {
    position: absolute;
    transform-origin: center;
    cursor: default;
  }
  .item-border {
    pointer-events: none;
    border: 1px solid #298df8;
  }
}
