.select-handle {
  position: absolute;
  z-index: 2;
  * {
    pointer-events: auto;
  }
  .rect {
    position: absolute;
    border: none;
    pointer-events: none;
    .rotate {
      position: absolute;
      left: 50%;
      top: -26px;
      width: 18px;
      height: 18px;
      margin-left: -9px;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      cursor: pointer;
      path {
        fill: #298df8;
      }
      svg {
        pointer-events: none;
        * {
          pointer-events: none;
        }
      }
    }
    .block {
      -webkit-user-drag: none;
      width: 8px;
      height: 8px;
      border: 1px solid #ffaf24;
      position: absolute;
      background: white;
      border-radius: 100%;
    }
    .n {
      top: -4px;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
      cursor: n-resize;
    }
    .ne {
      cursor: ne-resize;
      top: -4px;
      right: -4px;
    }
    .e {
      cursor: e-resize;
      top: 50%;
      transform: translate3d(0, -50%, 0);
      right: -4px;
    }
    .se {
      cursor: se-resize;
      bottom: -4px;
      right: -4px;
    }
    .s {
      cursor: s-resize;
      bottom: -4px;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
    }
    .sw {
      cursor: sw-resize;
      left: -4px;
      bottom: -4px;
    }
    .w {
      cursor: w-resize;
      left: -4px;
      top: 50%;
      transform: translate3d(0, -50%, 0);
    }
    .nw {
      cursor: nw-resize;
      left: -4px;
      top: -4px;
    }
  }
}
