.panel {
  border: 1px solid #ccc;
  * {
    transition: all 0.5s ease;
  }
  .panel-title {
    display: flex;
    height: 40px;
    border-bottom: 1px solid #ccc;
    .title-content {
      display: flex;
      flex: 1;
      align-items: center;
      font-size: 14px;
      padding-left: 1em;
    }
    .arrow {
      height: 40px;
      width: 40px;
      font-size: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(270deg);
      .svg-icon {
        height: 1em;
        width: 1em;
      }
    }
  }
  &.close {
    .panel-body {
      overflow: hidden;
      height: 0;
      min-height: 0;
    }
    .arrow {
      transform: rotate(180deg);
    }
    .panel-title {
      border-bottom-width: 0;
    }
  }
}
